* { 
    padding: 0; 
    margin: 0; 
}

html, body{
    height: 100%;
    overflow-y: hidden;
}

header {
    border-bottom: 1px solid #7F7F7F;
    font-family: 휴먼둥근헤드라인;
}

.image1 {
    margin-left: 100px;
}

.logo_frist {
    color: #452D2D;
    font-size: 30px;
    font-weight: 500%;
    position: absolute;
    margin-top: 25px;
}

.logo_second {
    color: #452D2D;
    position: absolute;
    font-size: 17px;
    font-weight: 500%;
    margin-top: 37px;
    margin-left: 50px;
}

.right_bar{
    margin-top: 36px;
    float: right;
    margin-right: 50px;
    font-family: 맑은 고딕;
    font-size: 12px;
}

.fullbox{
    display: flex;
    height: 100%;
}

@media (max-height:797px) {
    .fullbox{
        display: flex;
        height: 90%;
    }
}

/* 사이드바 부분 */
.sidebar{
    display: inline;
    flex-basis: 240px;
    flex-shrink: 0;
    background-color: #452D2D;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
}

/* 작업 영역 부분 */
.content{
    display: inline;
    flex: 2;
    background-color: #ffffff;
    overflow: auto;
}

/* 하위 메뉴 버튼 기본 */
.minibutton{
    margin: 0px 0px 0px 0px;
    width: 239px;
    height: 45px;
    font-size: 15px;
    font-weight: bold;
    background-color: #452D2D;
    color: #ffffff;
    border: none;
    text-align: left;
    padding-left: 55px;
}

/* 하위 메뉴 버튼 호버시 */
.minibutton:hover{
    margin: 0px 0px 0px 0px;
    width: 239px;
    height: 45px;
    font-size: 15px;
    font-weight: bold;
    background-color: #342222;
    color: #ffffff;
    border: none;
    text-align: left;
    padding-left: 55px;
}

/* 하위 메뉴 버튼 누르고 있을시 */
.minibuttonC{
    margin: 0px 0px 0px 0px;
    width: 239px;
    height: 45px;
    font-size: 15px;
    font-weight: bold;
    background-color: #342222;
    color: #ffffff;
    border: none;
    text-align: left;
    padding-left: 55px;
}

/* 메뉴버튼 기본 */
.menubutton{
    margin: 0px 0px 0px 0px;
    width: 239px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: #452D2D;
    color: #ffffff;
    border: none;
    text-align: left;
    padding-left: 30px;
}

/* content 요소 */
.content{
    padding: 50px;
}

.content h1{
    margin-bottom: 20px;
}

/* content를 통해 나오는 새 ejs 부분 css */
.up_bar {
    margin-top: 10px;
    padding: 10px;
}

.up_bar span{
    float: left;
    margin-right: 10px;
}

.up_bar form {
    float: left;
    margin-right: 10px;
}

.up_bar input {
    height: 25px;
    border-radius: 7px;
    border: 1px solid black;
} 

.up_bar select {
    height: 27px;
    border-radius: 7px;
}

.up_bar button{
    background-color: #452D2D;
    color: #ffffff;
    height: 30px;
    border-radius: 7px;
    width: 50px;
}

.up_bar span{
    padding-top: 5px;
}

.list_total {
    float: right;
    font-size: 13px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th{
    border-bottom: 2px solid #342222;
    width: 10%;
    text-align: center;
    padding: 15px;
    color: #342222;
}

table td{
    border-bottom: 1px solid #A29595;
    width: 10%;
    text-align: center;
    padding: 15px;
}

table button {
    width: 100px;
    height: 25px;
    background-color: #ffffff;
    border: 1px solid #A29595;
    border-radius: 5px;
}

/* 제휴 매장 정보 상세 부분 */
.detail_bar {
    margin-top: 10px;
    font-size: 20px;
}

.Market_info {
    color: #342222;
    font-weight: bold;
}

.normal_info {
    display: block;
    margin-bottom: 10px;
}

.hr_line {
    border: 2px solid #342222;
    margin-top: 10px;
    margin-bottom: 10px;
}

.infoMarketTable td{
    text-align: left;
    border: none;
    padding: 5px;
    padding-left: 50px;
}

.infoMarketTable td input:not(.e_input){
    margin-top: 5px;
    width: 300px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 5px;
}

.e_input{
    margin-top: 5px;
    width: 180px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 5px;
}

.e_button{
    margin-left: 10px;
    width: 50px;
    height: 30px;
    color: #ffffff;
    background-color: #452D2D;
}

.brown_button {
    background-color: #452D2D;
    color: #ffffff;
    height: 30px;
    border-radius: 7px;
    width: 50px;
}

.state_barOn{
    display: inline-block;
    font-size: 12px;
    background-color: #0D6EFD;
    width: 100px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    height: 18px;
    padding-top: 1px;
}

.state_barOff{
    display: inline-block;
    font-size: 12px;
    background-color: #DC3545;
    width: 100px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    height: 18px;
    padding-top: 1px;
}

/* 제휴 매장 분기 정보 부분 */
.DateDetail{
    font-size: 14px;
}

.Market_infoo{
    margin-top: 10px;
    font-weight: bold;
    color: #342222;
}

.message {
    width: 100%;
    height: 100px;
}

.Market_infoo a{
    font-size: 11px;
    color: #7F7F7F;
    float: right;
    margin-bottom: 10px;
}

/* 제휴 매장 메시지 기록 부분 */
.td1 {
    width: 10%;
}

.td2{
    width: 90%;
}

/* 메뉴 통계 조회 부분 */
.DateDetail input {
    width: 130px;
    text-align: center;
}
