.board h1 {
    color: darkred;
    margin-left: 2rem;
    margin-top: 2rem;
}

.board li {
    margin-top: 1rem;
    margin-left: 5rem;
}

.board input {
    width: 90%;
    height: 20px;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
}

.board textarea {
    width: 90%;
    height: 300px;
    border-radius: 15px;
    border-width: 2px;
    padding: 10px;
    font-size: 20px;
}

.board button {
    float: right;
    margin-top: 1rem;
    margin-right: 7rem;
    border-radius: 15px;
    border-color: green;
    background-color: green;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

@font-face {
    font-family: 'JalnanGothic';
    src: url(JalnanGothicTTF.ttf) ;
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Jalnan2';
    src: url(Jalnan2TTF.ttf) ;
    font-weight: normal;
    font-style: normal;
}

.board {
    font-family: 'JalnanGothic';
}

.selectbox {
    margin-top: 1rem;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 2px;
    border-color: transparent;
    font-family: 'JalnanGothic';
}