* { 
    padding: 0; 
    margin: 0; 
}

html, body{
    height: 100%;
    overflow-y: hidden;
}

header {
    border-bottom: 1px solid #7F7F7F;
    font-family: 휴먼둥근헤드라인;
}

.image1 {
    margin-left: 100px;
}

.logo_frist {
    color: #452D2D;
    font-size: 30px;
    font-weight: 500%;
    position: absolute;
    margin-top: 25px;
}

.logo_second {
    color: #452D2D;
    position: absolute;
    font-size: 17px;
    font-weight: 500%;
    margin-top: 37px;
    margin-left: 50px;
}

.right_bar{
    margin-top: 36px;
    float: right;
    margin-right: 50px;
    font-family: 맑은 고딕;
    font-size: 12px;
}

.fullbox{
    display: flex;
    height: 100%;
}

@media (max-height:797px) {
    .fullbox{
        display: flex;
        height: 90%;
    }
}

/* 사이드바 부분 */
.sidebar{
    display: inline;
    flex-basis: 240px;
    flex-shrink: 0;
    background-color: #452D2D;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
}

/* 작업 영역 부분 */
.content{
    display: inline;
    flex: 2;
    background-color: #ffffff;
    overflow: auto;
}

/* 하위 메뉴 버튼 기본 */
.minibutton{
    margin: 0px 0px 0px 0px;
    width: 239px;
    height: 45px;
    font-size: 15px;
    font-weight: bold;
    background-color: #452D2D;
    color: #ffffff;
    border: none;
    text-align: left;
    padding-left: 55px;
}

/* 하위 메뉴 버튼 호버시 */
.minibutton:hover{
    margin: 0px 0px 0px 0px;
    width: 239px;
    height: 45px;
    font-size: 15px;
    font-weight: bold;
    background-color: #342222;
    color: #ffffff;
    border: none;
    text-align: left;
    padding-left: 55px;
}

/* 하위 메뉴 버튼 누르고 있을시 */
.minibuttonC{
    margin: 0px 0px 0px 0px;
    width: 239px;
    height: 45px;
    font-size: 15px;
    font-weight: bold;
    background-color: #342222;
    color: #ffffff;
    border: none;
    text-align: left;
    padding-left: 55px;
}

/* 메뉴버튼 기본 */
.menubutton{
    margin: 0px 0px 0px 0px;
    width: 239px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: #452D2D;
    color: #ffffff;
    border: none;
    text-align: left;
    padding-left: 30px;
}