* {
    margin: 0%;
}

html, body{
    height: 100%;
}

.wrapper {
    min-height: calc(100vh - 8rem);
}

header {
    border-bottom: 1px solid #7F7F7F;
    font-family: 휴먼둥근헤드라인;
}

.image1 {
    margin-left: 100px;
}

.logo_frist {
    color: #452D2D;
    font-size: 30px;
    font-weight: 500%;
    position: absolute;
    margin-top: 25px;
}

.logo_second {
    color: #452D2D;
    position: absolute;
    font-size: 17px;
    font-weight: 500%;
    margin-top: 37px;
    margin-left: 50px;
}

.middle_bar{
    color: #452D2D;
    width: 50%;
    text-align: center;
    display: inline;
    position: absolute;
    margin-top: 37px;
    margin-left: 280px;
}

.bar{
    margin: 0px 40px 0px 40px;
}

.right_bar{
    margin-top: 36px;
    float: right;
    margin-right: 50px;
    font-family: 맑은 고딕;
    font-size: 12px;
}

.bottom{
    bottom: auto;
    height: 8rem;
    background-color: #1A1A2C;
}

.logo_frist_bottom{
    color: #ffffff;
    font-size: 27px;
    position: absolute;
    margin-top: 45px;
    margin-left: 180px;
    font-family: 휴먼둥근헤드라인;
}

.logo_second_bottom{
    color: #ffffff;
    position: absolute;
    font-size: 17px;
    margin-top: 56px;
    margin-left: 230px;
    font-family: 휴먼둥근헤드라인;
}

.bottom_middle{
    display: inline-block;
    color: #9D9D9D;
    font-size: 13px;
    text-align: left;
    margin-left: 500px;
    padding-top: 40px;
}

.bottom_middle_content{
    font-size: 10px;
}

.bottom_right {
    display: inline;
    float: right;
    color: #ffffff;
    margin-top: 50px;
    margin-right: 40px;
}

.banner {
    text-align: center;
    width: 100%;
    height: 100%;
}

.image2{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.newbox{
    position: absolute;
    width: 435px;
    height: 617px;
    background-color: gray;
    margin-top: -45%;
    margin-left: 8%;
}

.goto {
    position: absolute;
    width: 438px;
    height: 67px;
    margin-top: -20%;
    margin-left: 45%;
    background-color: gray;
    border-radius: 20px;
    text-align: center;
    background-color: #452D2D;
}

.goto span{
    display: inline-block;
    padding-top: 15px;
    font-size: 25px;
    color: #ffffff;
}

/* 로그인 탭 부분 */
.loginBoxAll {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loginBox {
    width: 350px;
    text-align: center;
    border: 2px solid #452D2D;
    background-color: #ffffff;
}

.loginTitle {
    background-color:#452D2D;
    color:#ffffff;
    padding: 7px;
    font-size: 20px;
    font-weight: 100%;
}

.inputBox {
    margin: 10px;
}

.inputBox input{
    width: 200px;
    height: 20px;
    margin: 0 5px 20px 0;
    padding: 2px 5px;
}

.inputBox span {
    display: inline-block;
    margin-right: 10px;
    text-align: right;
    width: 100px;
}

.inputBox button {
    padding: 3px 5px;
    background-color: #452D2D;
    color: #ffffff;
    border: none;
    height: 40px;
    width: 70px;
    font-size: 15px;
    border-radius: 8px;
}

.inputBox button:hover {
    padding: 3px 5px;
    background-color: #342222;
    color: #ffffff;
    border: none;
    height: 40px;
    width: 70px;
}
/* 여기까지 */