.category{
    list-style: none;
    margin-left: 4rem;
}

.category li {
    font-weight: bold;
    float: left;
    margin-left: 3rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}


.category + table {
    clear: both;
}

table {
    margin-left: 2rem;
}

table th {
    padding: 1rem;
}

table td {
    padding: 1rem;
}