<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="admin.css" />
    <link rel="stylesheet" href="../admin.css" />
    <title>관리자페이지</title>
</head>

<body>
    <header>
        <img src="logo.png" alt="logo" class="image1">
        <span class="logo_frist" onclick="location.href='/'">PS</span>
        <span class="logo_second" onclick="location.href='/'">COFFEE SHOP</span>
      <div class="right_bar">
        <span class="barR" onclick="location.href='/logout'">로그아웃</span>
        <span>|</span>
        <span class="barR">접속자 : <%=loginId %></span>
        <span>|</span>
        <span class="barR">접속 IP :  127.0.0.1</span>
      </div>
    </header>
    <div class="fullbox">
        <div class="sidebar">
            <div>
                <button class="menubutton">• 제휴 매장</button>
                <% if (checkmenu == 1) { %>
                    <button class="minibuttonC" onclick="location.href='/admin/mangePartner'">제휴 매장 관리</button>
                <% } else { %>
                    <button class="minibutton" onclick="location.href='/admin/mangePartner'">제휴 매장 관리</button>
                <% } %>
                <button class="minibutton">제휴 매장 등급 수정</button>
                <button class="menubutton">• 회원</button>
                <button class="minibutton">회원 정보 조회</button>
                <button class="minibutton">회원 등급 수정</button>
                <button class="minibutton">회원 탈퇴 사유 조회</button>
                <button class="menubutton">• 직원</button>
                <button class="minibutton">직원 정보 조회</button>
                <button class="menubutton">• 메뉴</button> 
                <button class="minibutton">메뉴 관리</button>
                <button class="minibutton">메뉴 홍보 작성</button>
                <button class="minibutton">메뉴 통계 조회</button>
                <button class="menubutton">• 기타</button>
                <button class="minibutton">문의 사항 관리</button>
            </div>
        </div>
        
        <div class="content">
            <% if (checkmenu == 0) { %>
            <h1>PS COFFEE SHOP</h1>
            <hr>
            <% } else if(checkmenu == 1) { %>
            <% include ./mangeMarket.ejs %>
            <% } else if(checkmenu == 1.1) { %>
            <% include ./infoMarket.ejs %>
            <% } else if(checkmenu == 1.2) { %>
            <% include ./infoMarketDate.ejs %>
            <% } %>
        </div>
    </div>
</body>

</html>