<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="detail.css" />
    <link rel="stylesheet" href="../detail.css" />
    <title>전산관리페이지</title>
</head>

<body>
    <header>
        <img src="logo.png" alt="logo" class="image1">
        <span class="logo_frist">PS</span>
        <span class="logo_second">COFFEE SHOP</span>
      <div class="right_bar">
        <span class="barR" onclick="location.href='/admin'">로그아웃</span>
        <span>|</span>
        <span class="barR">접속자 : </span>
        <span>|</span>
        <span class="barR">접속 IP :  </span>
      </div>
    </header>
    <div class="fullbox">
        <div class="sidebar">
            <div>
                <button class="menubutton" onclick="location.href='/moveDetail/selectUser'">• 제휴 매장</button>
                <button class="minibutton">제휴 매장 관리</button>
                <button class="minibutton">제휴 매장 등급 수정</button>
                <button class="menubutton">• 회원</button>
                <button class="minibutton">회원 정보 조회</button>
                <button class="minibutton">회원 등급 수정</button>
                <button class="minibutton">회원 탈퇴 사유 조회</button>
                <button class="menubutton">• 직원</button>
                <button class="minibutton">직원 정보 조회</button>
                <button class="menubutton">• 메뉴</button>
                <button class="minibutton">메뉴 관리</button>
                <button class="minibutton">메뉴 홍보 작성</button>
                <button class="minibutton">메뉴 통계 조회</button>
                <button class="menubutton">• 기타</button>
                <button class="minibutton">문의 사항 관리</button>
            </div>
        </div>
        
        <div class="content">
        </div>
    </div>
</body>

</html>