<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="admin.css" />
    <link rel="stylesheet" href="../admin.css" />
    <title>제휴 매장 정보 상세</title>
</head>
<body>
    <h1>제휴 매장 정보 상세</h1>
    <hr>
    <div class="detail_bar">
        <span>제휴매장이름 : </span>
    </div>
    <br>
    <br>
    <br>
    <span>기본 정보</span>
</body>
</html>