<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="admin.css" />
    <link rel="stylesheet" href="../admin.css" />
    <title>제휴 매장 정보 상세</title>
</head>
<body>
    <h1>제휴 매장 정보 상세</h1>
    <hr>
    <div class="up_bar">
        <span>제휴 매장 이름 : </span>
    </div>
    <br>
    <br>
    <br>
    <span>기본 정보</span>
    <table>
        <thaed>
            <tr>
                <th>사업자번호</th>
                <th>제휴매장이름</th>
                <th>계약활성여부</th>
                <th>제휴매장요청유무</th>
                <th>정보상세보기</th>
                <th>분기정보확인</th>
            </tr>
        </thaed>
        <tbody>
            <% for(let i = 0; i < selectMarket.length; i++) { %>
            <tr>
                <td><%=selectMarket[i].사업자번호 %></td>
                <td><%=selectMarket[i].제휴매장이름 %></td>
                <td><%=selectMarket[i].제휴매장계약활성 %></td>
                <td><%=selectMarket[i].제휴매장요청유무 %></td>
                <td><button onclick="location.href='/admin/mangePartner/infoDetail'">상세보기</button></td>
                <td><button onclick="location.href='/admin/mangePartner/infoDate'">상세보기</button></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>