<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="../main.css" />
    <title>로그인</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <img src="logo.png" alt="logo" class="image1">
            <span class="logo_frist" onclick="location.href='/'">PS</span>
            <span class="logo_second" onclick="location.href='/'">COFFEE SHOP</span>
          <div class="middle_bar">
            <span class="bar">회사소개</span>
            <span class="bar" onclick="location.href=''">메뉴</span>
            <span class="bar">매장</span>
            <span class="bar" onclick="location.href=''">게시판</span>
            <span class="bar" onclick="location.href='/partner'">제휴매장</span>
          </div>
          <div class="right_bar">
            <span class="barR">로그인</span>
            <span>|</span>
            <span class="barR">회원가입</span>
          </div>
        </header>

        <div class="loginBoxAll">
            <div class="loginBox">
                <p class="loginTitle">로그인</p>
                <div class="inputBox">
                    <form action="/check" method="POST">
                        <p><span>아이디 : </span><input type="text" name="loginId"/></p>
                        <p><span>비밀번호 : </span><input type="password" name="loginPwd" /></p>
                        <button type="submit">로그인</button>
                    </form>
                </div>
            </div>
        </div>


    </div>
        <div class="bottom">
          <footer>
            <span class="logo_frist_bottom">PS</span>
            <span class="logo_second_bottom">COFFEE SHOP</span>
            <div class="bottom_middle">
              <span>법인명 : 주식회사 데이터베이스설계101  |  대표 : 조대수  |  주소 : 부산광역시 사상구 주례로 47 </span><br>
              <span>법인 사업자등록번호 : 2019-15-98 |  대표전화 : 1577-1577  |  이메일 : 20191598@g.dongseo.ac.kr </span><br><br>
              <span class="bottom_middle_content">COPYRIGHT ⓒ 2023 PS coffee Shop CHH All rights reserved.</span>
            </div>
            <span class="bottom_right">개인정보처리방침 | 이용약관</span>
          </footer>
        </div>
</body>
</html>