<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="../menu.css" />
    <title>메뉴</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <img src="logo.png" alt="logo" class="image1">
            <span class="logo_frist" onclick="location.href='/'">PS</span>
            <span class="logo_second" onclick="location.href='/'">COFFEE SHOP</span>
            <div class="middle_bar">
                <span class="bar">회사소개</span>
                <span class="bar" onclick="location.href='/menu'">메뉴</span>
                <span class="bar">매장</span>
                <span class="bar" onclick="location.href='/partnerboardlist'">게시판</span>
                <span class="bar" onclick="location.href='/partnerlist'">제휴매장</span>
            </div>
            <div class="right_bar">
                <span class="barR" onclick="location.href='/admin'">관리자 화면</span>
                <span>|</span>
                <span class="barR" onclick="location.href='/logi'">로그인</span>
                <span>|</span>
                <span class="barR" onclick="location.href='/signup'">회원가입</span>
            </div>
        </header>
        <div class="menuBox">
            <h1>메뉴</h1>
            <% if(loginId == "admin") { %>
            <a href="/menu_reg">메뉴등록하기</a>
            <% } %>
            <a href="/cart">장바구니</a>
        </div>
        <div class="midlayer">
        <ul class="category">
            <li onclick="filterList('all')">전체</li>
            <li onclick="filterList('한식')">한식</li>
            <li onclick="filterList('중식')">중식</li>
            <li onclick="filterList('일식')">일식</li>
            <li onclick="filterList('양식')">양식</li>
            <li onclick="filterList('기타')">기타</li>
        </ul>
        <table style="text-align: center;">
            <thead>
                <tr>
                    <th>메뉴사진</th>
                    <% for (let i = 0; i < data.length; i++) { %>
                        <td><img src="logo.png" alt="logo"></td>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>메뉴이름</td>
                    <% for (let i = 0; i < data.length; i++) { %>
                        <td><a href=""><%= data[i].메뉴이름 %></a></td>
                    <% } %>
                </tr>
                <tr>
                    <td>가격</td>
                    <% for (let i = 0; i < data.length; i++) { %>
                        <td><%= data[i].메뉴가격 %>원</td>
                    <% } %>
                </tr>
                <tr>
                    <td>카테고리</td>
                    <% for (let i = 0; i < data.length; i++) { %>
                        <td><%= data[i].분류명 %></td>
                    <% } %>
                </tr>
                <tr>
                    <td>장바구니</td>
                    <% for (let i = 0; i < data.length; i++) { %>
                        <td>
                            <form action="/menu" method="post">
                                <input type="hidden" name="menuno" value="<%= data[i].메뉴항목번호 %>">
                                <input type="submit" value="장바구니 담기">
                            </form>
                        </td>
                    <% } %>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    <div class="bottom">
        <footer>
            <span class="logo_frist_bottom">PS</span>
            <span class="logo_second_bottom">COFFEE SHOP</span>
            <div class="bottom_middle">
                <span>법인명 : 주식회사 데이터베이스설계101  |  대표 : 조대수  |  주소 : 부산광역시 사상구 주례로 47 </span><br>
                <span>법인 사업자등록번호 : 2019-15-98 |  대표전화 : 1577-1577  |  이메일 : 20191598@g.dongseo.ac.kr </span><br><br>
                <span class="bottom_middle_content">COPYRIGHT ⓒ 2023 PS coffee Shop CHH All rights reserved.</span>
            </div>
            <span class="bottom_right">개인정보처리방침 | 이용약관</span>
        </footer>
    </div>
</body>
</html>