<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="../signup.css" />
    <title>제휴매장 정보 입력 페이지</title>
</head>
<body>
    <div class="wrapper">
    <header>
        <img src="logo.png" alt="logo" class="image1">
        <span class="logo_frist" onclick="location.href='/'">PS</span>
        <span class="logo_second" onclick="location.href='/'">COFFEE SHOP</span>
        <div class="middle_bar">
            <span class="bar">회사소개</span>
            <span class="bar" onclick="location.href='/menu'">메뉴</span>
            <span class="bar">매장</span>
            <span class="bar" onclick="location.href='/partnerboardlist'">게시판</span>
            <span class="bar" onclick="location.href='/partnerlist'">제휴매장</span>
        </div>
        <div class="right_bar">
            <span class="barR" onclick="location.href='/admin'">관리자 화면</span>
            <span>|</span>
            <span class="barR">로그인</span>
            <span>|</span>
            <span class="barR" onclick="location.href='/signup'">회원가입</span>
        </div>
    </div>
    </header>
    <div class="signup">
        <h1>제휴매장 요청</h1>
        <form action="/partnersignup" method="post">
            <ul style="list-style: none;">
                <li><input type="text" placeholder="사업자 번호" name="partnerno"></li>
                <li><input type="text" placeholder="매장 이름" name="partnername"></li>
                <li>
                    <label for="partnercategory">업종 분류 선택:</label>
                    <select name="partnercategory">
                        <option value="한식">한식</option>
                        <option value="중식">중식</option>
                        <option value="일식">일식</option>
                        <option value="양식">양식</option>
                        <option value="기타">기타</option>
                    </select>
                </li>
                <li><input type="text" placeholder="담당자 이름" name="partnerowner" value="<%=loginId%>"></li>
                <li><input type="tel" placeholder="담당자 연락처" name="ownertel"></li>
                <li><input type="text" placeholder="주소 입력" name="partneraddress"></li>
                <button type="submit">제휴매장 요청</button>
            </ul>
        </form>
    </div>
    <div class="bottom">
    <footer>
        <span class="logo_frist_bottom">PS</span>
        <span class="logo_second_bottom">COFFEE SHOP</span>
        <div class="bottom_middle">
            <span>법인명 : 주식회사 데이터베이스설계101  |  대표 : 조대수  |  주소 : 부산광역시 사상구 주례로 47 </span><br>
            <span>법인 사업자등록번호 : 2019-15-98 |  대표전화 : 1577-1577  |  이메일 : 20191598@g.dongseo.ac.kr </span><br><br>
            <span class="bottom_middle_content">COPYRIGHT ⓒ 2023 PS coffee Shop CHH All rights reserved.</span>
        </div>
        <span class="bottom_right">개인정보처리방침 | 이용약관</span>
    </footer>
    </div>
</body>
</html>